<div class="container">
    <div class="row">
        <!-- USE SIDEBAR -->
        <!-- Post Container -->
   	    <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container
        ">
            {{ partial "post_list.html" . }}
            {{ partial "pagination.html" . }}
                                <div class="col-12 col-lg-10ish article-style">     
<script src="https://utteranc.es/client.js"
        repo="gisma-courses/gi-base"
        issue-term="title"
        label="comments"
        theme="github-light"
        crossorigin="anonymous" 
        async>
</script>
</div>

       	</div>
        {{ partial "sidebar.html" . }}
	</div>
</div>
